/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-telex-addtoany-block {
	margin: 1em 0;
	
	.addtoany-share-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		align-items: center;
	}
}
